.contents .contents__wrap .contents-tag {
  padding: 50px 30px 10px;
}
@media screen and (max-width: 1024px) {
  .contents .contents__wrap .contents-tag {
    padding: 30px 30px 0;
  }
}
.contents .contents__wrap .contents-tag .contents-tag__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
@media screen and (max-width: 640px) {
  .contents .contents__wrap .contents-tag .contents-tag__list {
    gap: 8px;
  }
}
.contents .contents__wrap .contents-tag .contents-tag__list .contents-tag__item {
  border: 1px solid #181818;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.contents .contents__wrap .contents-tag .contents-tag__list .contents-tag__item:hover, .contents .contents__wrap .contents-tag .contents-tag__list .contents-tag__item.active {
  background-color: #181818;
  color: #f8f8f8;
}
.contents .contents__wrap .contents-tag .contents-tag__list .contents-tag__item .contents-tag__link {
  display: block;
  padding: 5px 15px;
}

.products {
  padding: 30px 10px 30px 30px;
}
.products .products__list {
  position: relative;
  width: 100%;
}
.products .products__list .products__item {
  display: none;
  position: absolute;
  width: calc(33.33% - 20px);
}
@media screen and (max-width: 640px) {
  .products .products__list .products__item {
    width: calc(50% - 20px);
  }
}
.products .products__list .products__item.active {
  display: block;
}
.products .products__list .products__item.is-hidden {
  display: none;
}
.products .products__list .products__item .products__link {
  width: 100%;
}
.products .products__list .products__item .products__link .products__image {
  width: 100%;
}
.products .products__list .products__item .products__link .products__image img {
  width: 100%;
  height: auto;
}
.products .products__list .products__item .products__link .products__info {
  position: relative;
  margin-top: 5px;
}
.products .products__list .products__item .products__link .products__info .product-brand {
  font-size: 1.1rem;
  color: #898989;
}
@media screen and (max-width: 1024px) {
  .products .products__list .products__item .products__link .products__info .product-brand {
    font-size: 1rem;
  }
}
.products .products__list .products__item .products__link .products__info .product-name {
  width: 100%;
  margin: 3px 0 2px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3rem;
}
@media screen and (max-width: 1024px) {
  .products .products__list .products__item .products__link .products__info .product-name {
    font-size: 1.2rem;
  }
}
.products .products__list .products__item .products__link .products__info .product-sales {
  font-size: 1.4rem;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .products .products__list .products__item .products__link .products__info .product-sales {
    font-size: 1.2rem;
  }
}
.products .products__list .products__item .products__link .products__info .product-sales .product-discount {
  color: #ff5500;
}
.products .products__list .products__item .products__link .products__info .product-detail span {
  background-color: #ebebeb;
  font-size: 1rem;
  padding: 1px;
  border-radius: 2px;
}
@media screen and (max-width: 1024px) {
  .products .products__list .products__item .products__link .products__info .product-detail span {
    font-size: 0.9rem;
  }
}
.products .products__list .products__item .products__link .products__info .product-like {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1px;
  right: 0;
  font-size: 1.1rem;
  color: #a9a9a9;
}
.products .products__list .products__item .products__link .products__info .product-like:before {
  content: "\f004";
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

.filtering {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 40px 35px 20px;
  border-bottom: 1px solid #d7d7d7;
}
@media screen and (max-width: 1024px) {
  .filtering {
    margin: 0 20px 25px 0;
  }
}
.filtering .filtering-sort {
  display: inline-block;
  position: relative;
}
.filtering .filtering-sort:after {
  content: "\f107";
  display: block;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
}
.filtering .filtering-sort label {
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
}
.filtering .filtering-sort select {
  width: 120px;
  padding: 5px 20px 5px 10px;
}
.filtering .filtering-price {
  position: relative;
}
.filtering .filtering-price .price-setting {
  position: relative;
  width: 120px;
  padding: 5px 20px 5px 10px;
  text-align: left;
}
.filtering .filtering-price .price-setting:after {
  content: "\f107";
  display: block;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
}
.filtering .filtering-price .filtering-price__wrap {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  padding: 15px;
  border: 1px solid #d7d7d7;
  background: #ffffff;
  z-index: 10;
  font-size: 1.4rem;
}
@media screen and (max-width: 1024px) {
  .filtering .filtering-price .filtering-price__wrap {
    left: auto;
    right: 0;
  }
}
.filtering .filtering-price .filtering-price__wrap.active {
  display: block;
}
.filtering .filtering-price .filtering-price__wrap .filtering-price__unit {
  position: relative;
  padding: 5px 5px 5px 38px;
}
.filtering .filtering-price .filtering-price__wrap .filtering-price__unit input[type=radio] {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  border: 5px solid #e5e5e5;
  border-radius: 50%;
}
.filtering .filtering-price .filtering-price__wrap .filtering-price__unit input[type=radio]:checked {
  border-color: #9e9e9e;
}
.filtering .filtering-price .filtering-price__wrap .filtering-range {
  position: relative;
  margin-top: 5px;
}
.filtering .filtering-price .filtering-price__wrap .filtering-range .filtering-range__unit {
  margin-bottom: 5px;
}
.filtering .filtering-price .filtering-price__wrap .filtering-range .filtering-range__unit label {
  position: absolute;
  width: 1px;
  height: 1px;
  color: transparent;
}
.filtering .filtering-price .filtering-price__wrap .filtering-range .filtering-range__unit input {
  padding: 3px;
  border: 1px solid #9e9e9e;
}
.filtering .filtering-price .filtering-price__wrap .filtering-range .filtering-range__unit input:disabled {
  background-color: #bdbdbd;
}
.filtering .filtering-price .filtering-price__wrap .filtering-submit {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #181818;
  color: #f8f8f8;
}