// 믹스인
@mixin flexvertical() {
  display: flex;
  align-items: center;
}
@mixin flexhorizontal() {
  display: flex;
  justify-content: center;
}
@mixin flexcenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexbetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media screen and (max-width: 640px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media screen and (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == pc {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }
}
// 공통변수
$commonBlack: #181818;
$commonGray: #9e9e9e;
$commonWhite: #f8f8f8;

.detail__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 60px 50px;
  @include responsive(tablet) {
    padding: 20px 30px;
  }
  @include responsive(mobile) {
    flex-direction: column;
    justify-content: flex-start;
  }
  .detail-visual {
    width: 45%;
    height: 620px;
    margin: 0;
    @include responsive(pc) {
      width: 50%;
      height: 530px;
    }
    @include responsive(mobile) {
      width: 100%;
      height: 600px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .detail-visual__button {
      position: absolute;
      top: 50%;
      width: 50px;
      height: 50px;
      transform: translateY(-50%);
      // border: 1px solid $commonBlack;
      background: rgba(255, 255, 255, 0.5);
      font-size: 3rem;
      color: $commonBlack;
      z-index: 10;
      &.detail-visual__button--prev {
        left: 0;
      }
      &.detail-visual__button--next {
        right: 0;
      }
    }
  }
  .detail-info {
    width: 45%;
    padding-top: 40px;
    @include responsive(mobile) {
      width: 100%;
    }
    .detail-info__top {
      .detail-info__header {
        font-size: 1.3rem;
        .detail-info__title {
          margin-top: 5px;
          font-size: 2rem;
          font-weight: 600;
        }
        .detail-info__price-box {
          margin-top: 20px;
          font-size: 1.8rem;
          font-weight: 600;
          .detail-info__discount {
            color: #e80000;
          }
        }
      }
      .detail-options {
        margin-top: 35px;
        padding: 15px 20px;
        border: 1px solid #d7d7d7;
        background: #f7f7f7;
        font-size: 1.5rem;
        @include responsive(mobile) {
          margin-top: 20px;
        }
        .detail-options__row {
          @include flexvertical();
          margin-bottom: 10px;
          label {
            width: 100px;
            font-weight: 500;
          }
          .detail-options__select {
            position: relative;
            width: calc(100% - 100px);
            border-bottom: 1px solid #d7d7d7;
            line-height: 4rem;
            &:after {
              content: '\f107';
              display: block;
              position: absolute;
              top: 50%;
              right: 8px;
              transform: translateY(-50%);
              font-size: 1rem;
              font-weight: 600;
              font-family: 'Font Awesome 5 Free';
            }
            select {
              width: 100%;
              background-color: #f7f7f7;
            }
          }
        }
      }
    }
    .detail-info__middle {
      margin-top: 20px;
      .detail-options__list {
        .detail-options__item {
          position: relative;
          padding: 10px 15px;
          border: 1px solid #d7d7d7;
          font-size: 1.5rem;
          & + .detail-options__item {
            margin-top: 5px;
          }
          .detail-options__inputs {
            display: inline-block;
            margin-top: 10px;
            border: 1px solid $commonBlack;
            .detail-options__button {
              width: 30px;
              height: 30px;
            }
            .detail-options__input {
              width: 50px;
              border-left: 1px solid $commonBlack;
              border-right: 1px solid $commonBlack;
              text-align: center;
            }
          }
          .detail-options__price {
            position: absolute;
            bottom: 10px;
            right: 15px;
            font-weight: 600;
          }
          .detail-options__delete {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 1.5rem;
            font-weight: 600;
          }
        }
      }
    }
    .detail-info__bottom {
      margin-top: 30px;
      @include responsive(mobile) {
        margin-top: 20px;
      }
      .payment {
        font-weight: 600;
        .payment__label {
          display: block;
          font-size: 1.7rem;
        }
        .payment__price {
          font-size: 2.5rem;
        }
      }
      .payment__buttons {
        @include flexcenter();
        gap: 10px;
        margin-top: 20px;
        .payment__button {
          width: calc(50% - 5px);
          padding: 10px;
          border-radius: 3px;
          background-color: $commonBlack;
          font-size: 1.5rem;
          font-weight: 600;
          color: #ffffff;
        }
      }
    }
  }
}
.detail__bottom {
  margin-top: 50px;
  border-top: 1px solid $commonBlack;
  .detail-tab {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.85);
    transition: all 0.3s ease-in-out;
    @include responsive(tablet) {
      top: 80px;
    }
    .detail-tab__list {
      @include flexcenter();
      .detail-tab__item {
        padding: 20px 30px;
        color: #ffffff;
        cursor: pointer;
        &.active {
          color: #effc00;
          text-decoration: underline;
          text-underline-offset: 8px;
          font-weight: 600;
        }
        @include responsive(mobile) {
          & {
            padding: 15px 20px;
          }
        }
      }
    }
  }
  .detail-content {
    .detail-product__title {
      padding: 30px 20px;
      border-bottom: 1px solid #d7d7d7;
      font-size: 2rem;
      font-weight: 600;
    }
    .detail-product {
      .detail-product__info {
        .detail-product__spec {
          padding: 20px;
          background-color: #f7f7f7;
          font-size: 1.3rem;
          color: #686868;
          .detail-product__spec-item {
            @include flexvertical();
            .detail-product__spec-title {
              width: 80px;
              font-weight: 600;
            }
          }
        }
      }
      .detail-product__images {
        img {
          width: 100%;
        }
      }
    }
  }
  .board_template {
    &.detail-review {
      border-top: 1px solid $commonBlack;
      border-bottom: 1px solid $commonBlack;
      .detail-board__list {
        .detail-board__item {
          padding-right: 120px;
          .review-star {
            margin-bottom: 10px;
            color: #bcce17;
          }
        }
      }
    }
    .detail-board__list {
      .detail-board__item {
        position: relative;
        padding: 20px;
        font-size: 1.3rem;
        & + .detail-board__item {
          border-top: 1px solid #d7d7d7;
        }
        .detail-board__title {
          border-bottom: 1px solid #d7d7d7;
          padding: 20px 0;
          font-weight: 600;
        }
        .detail-board__nickname {
          font-weight: 500;
        }
        .detail-board__text {
          margin: 5px 0;
        }
        .detail-board__image {
          position: absolute;
          top: 20px;
          right: 20px;
          width: 80px;
          height: 80px;
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
          }
          .img-count {
            position: absolute;
            top: 0;
            left: 0;
            @include flexcenter();
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.55);
            color: #ffffff;
            pointer-events: none;
          }
        }
        .detail-board__seller {
          border-top: 1px solid #e8e8e8;
          padding-top: 20px;
          margin-top: 20px;
        }
      }
    }
    &.detail-inquiry {
      padding: 0;
      .detail-board__list {
        .detail-board__item {
          padding: 0;
          .detail-board__link {
            .detail-board__title {
              margin: 0;
              padding: 20px;
              border-bottom: none;
              .answer-status {
                margin-right: 5px;
                padding: 3px;
                border-radius: 3px;
                background-color: $commonBlack;
                font-size: 1rem;
                color: #ffffff;
                &.none {
                  background-color: #c4c4c4;
                }
              }
            }
            .detail-board__textbox {
              display: none;
              padding: 20px;
              &.active {
                display: block;
              }
              .detail-board__text {
                margin: 0;
              }
            }
          }
        }
      }
      .detail-pagination {
        margin: 0;
      }
    }
  }
  .detail-pagination {
    margin-top: 5px;
    border-top: 1px solid #d7d7d7;
    .detail-pagination__list {
      @include flexcenter();
      gap: 5px;
      .detail-pagination__item {
        color: #bebebe;
        &.active {
          color: $commonBlack;
          font-weight: 600;
          text-decoration: underline;
          text-underline-offset: 5px;
        }
        .detail-pagination__link {
          @include flexcenter();
          width: 30px;
          height: 40px;
          padding: 20px;
        }
      }
    }
  }
  .detail-frequent {
    border-top: 1px solid $commonBlack;
    .detail-frequent__list {
      .detail-frequent__item {
        .detail-frequent__title {
          position: relative;
          padding: 15px 30px;
          font-size: 1.5rem;
          font-weight: 600;
          &:before {
            content: '\f0da';
            display: block;
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            font-size: 1rem;
            font-weight: 600;
            font-family: 'Font Awesome 5 Free';
          }
        }
        .detail-frequent__text {
          display: none;
          padding: 10px 30px;
          font-size: 1.4rem;
        }
        &.active {
          .detail-frequent__text {
            display: block;
          }
        }
      }
    }
  }
}

@include responsive(tablet) {
  body.mobile-hide .detail-tab {
    top: 0;
  }
}
.review-modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  .review-modal__content {
    display: block;
    margin: 100px auto;
    max-width: 80%;
    max-height: 70%;
  }
  .modal-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    color: #ffffff;
    font-size: 60px;
    &.prev-btn {
      left: 5%;
    }
    &.next-btn {
      right: 5%;
    }
    &:hover {
      color: $commonGray;
    }
  }
  .review-modal__close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: #ffffff;
    font-size: 40px;
    cursor: pointer;
  }
}
